<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin/users"></ion-back-button>
    </ion-buttons>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="8" offset-lg="2" size-xl="6"
      offset-xl="3">

      <ion-card>
        <ion-card-content>
          <form (ngSubmit)="createOrUpdate()" [formGroup]="userForm">

            <img [src]="avatar" *ngIf="avatar">
            <ion-list>
              <ion-item lines="none">
                <ion-label position="stacked">Upload Avatar</ion-label>
                <ion-input type="file" (change)="avatarChanged($event)" accept="image/*"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
              </ion-item>

              <ion-item lines="none" *ngIf="!id">
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password" placeholder="Password" formControlName="password">
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="stacked">First Name</ion-label>
                <ion-input type="text" placeholder="First name" formControlName="first_name"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="stacked">Last name</ion-label>
                <ion-input type="text" placeholder="Last name" formControlName="last_name"></ion-input>
              </ion-item>
            </ion-list>


            <ion-list>
              <ion-radio-group formControlName="role">
                <ion-list-header>
                  <ion-label>Staff Role</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>Owner</ion-label>
                  <ion-radio slot="start" value="OWNER"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Management</ion-label>
                  <ion-radio slot="start" value="MANAGEMENT"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Developer</ion-label>
                  <ion-radio slot="start" value="DEVELOPER"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Support L2</ion-label>
                  <ion-radio slot="start" value="TECH SUPPORT L2"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Support L1</ion-label>
                  <ion-radio slot="start" value="TECH SUPPORT L1"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Client</ion-label>
                  <ion-radio slot="start" value="CLIENT"></ion-radio>
                </ion-item>

              </ion-radio-group>
            </ion-list>

            <ion-button class="ion-padding-horizontal" color="primary" expand="full" type="submit" shape="round"
              [disabled]="!userForm.valid" *ngIf="!id">Create User</ion-button>

            <ion-button class="ion-padding-horizontal" color="primary" expand="full" type="submit" shape="round"
              *ngIf="id">Update User</ion-button>

            <ion-button class="ion-padding-horizontal" color="danger" expand="full" type="button" shape="round"
              *ngIf="id" (click)="delete()">Delete User</ion-button>

          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
